Debug/
Release/
RelNano/
_old/

.vscode/*
!.vscode/c_cpp_properties.json

Makefile
*.vcxproj
*.vcxproj.filters
*.sln

.vs/

*.opensdf
*.sdf
*.user
*.suo
/DnsServerTest/Logs

/DnsServerTest/Todo.txt
/DnsServerTest/config.cfg

*.aps
*.opendb
*.db

Logs/

Console_Debug/
Console_Release/
Service_Debug/
Service_Release/
/DnsLogServer/config.cfg