Debug/
Release/
RelNano/

.vs/

*.opensdf
*.sdf
*.user
*.suo
/DnsServerTest/Logs

/DnsServerTest/Todo.txt
/DnsServerTest/config.cfg

*.aps
*.opendb
*.db

Logs/

Console_Debug/
Console_Release/
Service_Debug/
Service_Release/
config.cfg

dns-server.sln
dns-server.vcxproj
dns-server.vcxproj.filters